<header class="full-width {{ 'nav' if page.url == '/' else 'back' }}">
  {% if page.url == '/' or page.url == '/404.html' %}
    <div class="left">
      <a class="title" href="/">home</a>
      <span class="point">•</span>
      <a href="/about">about</a>
      <span class="point">•</span>
      <a href="/contribute">contribute</a>
    </div>
    <div class="right">
      {#    <a href="/">• back</a>#}
    </div>
  {% else %}
    <a href="/">&larr; back</a>
  {% endif %}
</header>
