---
permalink: /tags/
layout: layouts/page.njk
title: Quirky Tags
postsLimit: 2
---
{%- set limit = config.pages.tags.limit -%}

<section id="tags-page--main">
  <ul>
    {% for tag in collections.tags | filterTagsList %}
      {%- set postsInTag = collections[tag].length -%}
      <li>
        <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a> - {{ postsInTag }} post{{ 's' if postsInTag > 1 else '' }}
      </li>
    {% endfor %}
  </ul>
</section>
