:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #f5f5f5;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	/*--text-color-link-visited: #17050F;*/

	--text-color-link: #0a31fd; /* BSOD */
	--text-color-link-active: #0033bb;
	--text-color-link-active: #ef476f;
	--text-color-link-hover: #0a31fd;
	--text-color-time: #6b7280;

	--nav-link-color: #0a31fd;
	--nav-hover-link-color: #ef476f;
	/*--text-color-link-visited: #0033bb;*/
	--code-block-background-color: #E8E8E8;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-active: #ef476f;
		/*--text-color-link-visited: #a6a6f8;*/
		--text-color-time: var(--color-gray-50);

		--nav-link-color: #1493fb;

		/*--background-color: #1B2845;*/
		--background-color: #15202b;
		--code-block-background-color: #274060;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);

	/*font-size: 14px;*/
}
html {
	overflow-y: scroll;
}
body {
	display: flex;
	flex-direction: column;

	max-width: 640px;
	min-height: 100vh;

	padding: 48px 32px 0 32px;
	font-size: 15px;
	line-height: 21px;
	/*font-size: .875rem*/
}

header {
	/*background-color: cadetblue;*/
	margin-bottom: 32px;
}

footer {
	/*background-color: pink;*/
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: auto;
	padding-top: 12px;
	padding-bottom: 12px;

	font-size: 12px;
	color: #6b7280;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* more resets */
ol, ul, menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	/*font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
	font-family: -apple-system, system-ui, sans-serif;
	/*font-weight: 700;*/
}

h1 {
	font-size: 26px;
	line-height: 36px;
}

h2 {
	font-size: 22px;
	margin-block-start: 40px;
}

h1#post-title {
	font-size: 32px;
	line-height: 40px;
	margin-block-start: 0;
	margin-block-end: 12px;
}

/*** pages **/
.posts-list {
	margin-top: 26px;
}

.posts-list li {
	display: flex;
	margin-bottom: 8px; /* 16 on mobile */
}

.more-posts {
	font-size: 13px;
	margin-top: 14px;
}

.tags-list {
	font-size: 12px;
	user-select: none;
}

/* page: home */
section#home-posts, section#home-submit {
	margin-top: 56px;
}

h2 ~ .tags-list {
	margin-top: -13px;
}

/* page: tags */
section#tags-page--main ul li {
	margin-bottom: 8px;
}

/* page: post */
section.post {
	padding-bottom: 32px;
}

/*p:last-child {*/
/*	margin-bottom: 0;*/
/*}*/
p {
	line-height: 23px;
}

/*li {*/
/*	line-height: 1.5;*/
/*}*/

a[href] {
	color: var(--text-color-link);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
	text-decoration: underline;
}

a:hover {
	-webkit-animation: glitch 6s infinite steps(50);
	animation: glitch 6s infinite steps(50);
	display: inline-block;
}

a.header-anchor {
	position: absolute;
	visibility: hidden;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 8px;
	/*margin-right: 1em;*/
	text-decoration: none;
}
.nav-item a, #footer-info a {
	color: var(--nav-link-color);
	text-decoration: none;
}
.nav-item a:hover {
	color: var(--nav-hover-link-color);
	/*text-decoration: none;*/
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	/*text-decoration: underline;*/
	/*text-decoration: none;*/
}

time {
	min-width: 120px;
	color: var(--text-color-time);
	font-size: 14px;
	word-spacing: -1px;
}

/*h1 > code, a > code*/
code {
	font-family: inherit;
	font-size: inherit;
	padding: 3px 5px;
	background: var(--code-block-background-color);
	border-radius: 2px;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}


@media screen and (max-width: 480px) {
	body {
		overflow: auto;
		padding: 24px 24px 4px 24px;
	}
	header {
		margin-bottom: 16px;
	}
	footer {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 400px) {
	ul.posts-list li {
		flex-direction: column;
		margin-bottom: 16px;
	}
}
