---
title: 'Quirks Mode'
layout: 'layouts/root.njk'
eleventyNavigation:
  key: home
  order: 0
numberOfLatestPostsToShow: 2
---

{%- css %}
  .posts {
    margin-top: 64px;
  }
{% endcss %}

<section id="home-intro">
  <h1 class="glitch" data-text="Quirks Mode" id="title">Quirks Mode</h1>
  <p>
    <i>(mostly)</i> front-end development <i><b>peculiarities</b></i>.
  </p>
  <p style="margin-top: 32px;">
    Life is tough. Hi, I’m a theme for Astro, an example of how you can use this starter to create a personal blog. If you want to know more about how you can customise me, add more posts, and make it your own, click on one the github icon link below which will take you to my repo.
  </p>
</section>

{#{% include 'newsletter.njk' %}#}

<section id="home-posts">
  <h2 style="margin-bottom: 5px;">Latest</h2>

{#  {%- set pages = collections.pages | reverse | last(config.pages.home.limit) -%}#}
{#  {%- set totalPages = collections.pages.length -%}#}
{#  {%- set limit = config.pages.home.limit -%}#}
{#  {% include 'pages-list.njk' %}#}

  {% set postsCount = collections.posts | length %}
  {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

  {% set postslist = collections.posts | last(numberOfLatestPostsToShow) %}
  {% set morePosts = postsCount - numberOfLatestPostsToShow %}
  {% include "posts-list.njk" %}

  {% if morePosts > 0 %}
    <p style="font-size: 13px; margin-top: 20px;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} in <a href="/quirks/">the archive</a></p>
  {% endif %}
</section>

<section id="home-submit">
  <h2>Submit</h2>

  <p>
    Stumbled upon something kinky while writing software? Tell us!
  </p>
</section>
