---
title: 'Quirks Mode'
layout: 'layouts/root.njk'
eleventyNavigation:
  key: home
  order: 0
postsLimit: 5
---

<section id="home-intro">
  <h1 class="glitch" data-text="Quirks Mode" id="title">Quirks Mode</h1>
  <p>
    <i>(mostly)</i> front-end development <i><b>peculiarities</b></i>.
  </p>
  <p style="margin-top: 32px;">
    Life is tough. Hi, I’m a theme for Astro, an example of how you can use this starter to create a personal blog. If you want to know more about how you can customise me, add more posts, and make it your own, click on one the github icon link below which will take you to my repo.
  </p>
</section>

{#{% include 'newsletter.njk' %}#}

<section id="home-posts">
  <h2>Latest</h2>

  {% set tagsList = collections.tags %}
  {% set showMoreTags = true %}
  {% include "tags-list.njk" %}

  {% set allPosts = collections.posts %}
  {% set postsList = collections.posts | first(postsLimit) %}
  {% include "posts-list.njk" %}
</section>

<section id="home-submit">
  <h2>Submit</h2>
  <p>
    Stumbled upon something kinky while writing software? <a href="/submit/">Tell me</a>!
  </p>
</section>
