---
title: 'Quirks Mode'
layout: 'layouts/root.njk'
eleventyNavigation:
  key: home
  order: 0
postsLimit: 5
---

<section id="home-intro">
  <h1 class="glitch" data-text="Quirks Mode" id="title">Quirks Mode</h1>

  <p style="margin-top: 42px;">
    Greetings, fellow <i>coding connoisseurs!</i><!-- aficionados -->
  </p>
  <p style="margin-top: 24px;">
    Here's a manifest to all the quirks and whimsy peculiarities of software development. A place to share the intricates and battles I (we) face each day. The pain, the frustration, the joy of finding a solution. A nerdy wonderland, for you to feel at home.
  </p>

  <p style="margin-top: 32px;">
{#    <i>(mostly)</i> development <i><b>peculiarities</b></i>.#}
    Software development <i><b>peculiarities</b></i>.
  </p>
</section>

{#{% include 'newsletter.njk' %}#}

<section id="home-posts">
  <h2>Latest</h2>

  {% set tagsList = collections.tags %}
  {% set showMoreTags = true %}
  {% include "tags-list.njk" %}

  {% set allPosts = collections.posts %}
  {% set postsList = collections.posts | first(postsLimit) %}
  {% include "posts-list.njk" %}
</section>

<section id="home-submit">
  <h2>Submit</h2>
  <p>
    Stumbled upon something kinky while writing software? <a href="/submit/">Tell me</a>!
  </p>
</section>
