---
layout: layouts/page.njk
title: Quirks
eleventyNavigation:
  key: quirks
  order: 2
  description: a list of posts
---

{% set tagsList = collections.tags %}
{% set showMoreTags = true %}
{% include "tags-list.njk" %}

{% set postsList = collections.posts %}
{% include "posts-list.njk" %}
