---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  generatePageOnEmptyData: true
  addAllPagesToCollections: true
  filter:
    - tagList
layout: layouts/page.njk
permalink: "/tags/{{ tag | slugify }}/index.html"
eleventyComputed:
  title: "Quirks for: <code>{{ tag }}</code>"
---
{%- set limit = 0 -%}
{% for tag in pagination.items %}
  {%- set hideTagsHeader = true -%}
  {% include 'posts-in-tag.njk' %}
{% endfor %}
