<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ (title or metadata.title) | stripCodeTag }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    {% css %}
      {% include "public/css/normalize.css" %}
      {%- include "public/css/index.css" -%}
    {%- endcss -%}
    <style>
      {% getBundle "css" %}
    </style>

    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'deferred' %}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{% getBundleFileUrl 'css', 'deferred' %}"></noscript>

    <link rel="preload" href="/css/deferred/glitch.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/deferred/glitch.css"></noscript>

{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Montserrat:wght@400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Catamaran:wght@400;600;700&display=swap" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">#}

{#    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Major+Mono+Display&family=Rampart+One&family=Rubik+Glitch&family=Rubik+Moonrocks&display=swap" rel="stylesheet">#}
  </head>
  <body
    data-layout="{{ layout | parseLayoutName }}"
    class="
      {%- if page.url == '/' -%}home {% endif %}
      {%- if templateClass -%}{{ templateClass }}{%- endif -%}
      glitch-{%- if config.enableGlitch -%}enabled{%- else -%}disabled{%- endif -%}"
  >
    {%- if not hideHeader -%}
      {%- include "header.njk" -%}
    {%- endif -%}

    <header>
      {%- include "nav.njk" -%}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <section id="footer-info">
{#        👨‍💻#}
{#        🕹️#}
{#        🔫#}
{#        🙋‍♂️#}
{#        👋#}
{#        ❤️#}
        @<a href="http://codenomnom.com" target="_blank">code nom nom</a>

        <script>
            document.currentScript.insertAdjacentHTML('beforebegin', ['🔫', '❤️', '👋'][3 * Math.random() | 0]);
        </script>
        <noscript>by</noscript> <!-- no emoji for old browsers :) -->

        <a href="/legal">cc by-sa 4.0</a>
      </section>
      {%- set navID = 'footer' -%}
      {%- include "nav.njk" -%}
    </footer>
  </body>
</html>
