$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  '2xl': 1400px,
  '3xl': 1600px
);

$content-width: 720px;
$content-padding-md: 36px;

//$color-page-background: #FFFAFF;
//$color-page-background: #FAFFFD;
$color-page-background: #f5f5f5;

$color-red: #ef476f;
$color-blue: #ACCBE0;
$color-yellow: #ffd166;

//$color-page-text: #333;
//$color-page-text: #474350;
//$color-page-text: #3C3744;
$color-page-text: #555;

$color-links: #0E9594;

$color-header: #3772FF; // 6
$color-header: #0a31fd; // 6
$color-header: #0033bb; // bsod

// combinations
//$color-header: #5D737E;
//$color-links: #3772FF;
//
//$color-header: #3772FF;
//$color-links: #0a31fd;
//
//$color-header: #0033bb; // bsod
$color-links: #2067B2; // some other version of bsod
//
//$color-header: #0a31fd;
//$color-links: #3772FF;
//
//$color-header: #0a31fd;
//$color-links: #E637BF;
