@import "parts/_normalize";
@import "_variables";
@import "parts/_include-media";

//@import "parts/_typography";
@import "parts/_code";
@import "parts/_header";
@import "parts/_glitch";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}

// Smooth scrolling IF user doesn't have a preference due to motion sensitivities
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  //background-color: $color-red; // debugs flickering and 1px scrollbar
}

body {
  font-family: 'Poppins', serif;
  font-size: 16px;

  font-family: 'Merriweather';
  font-size: 18px;

  //font-family: 'Poppins', serif;

  color: #0D112B;
  color: #555;
  color: $color-page-text;
  //line-height: 26px;
  position: relative;

  background-color: $color-page-background;
  scrollbar-gutter: stable both-edges;
}

///////////////
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.full-width {
  width: 100%;
}

section, header {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

section + section p {
  //margin-top: 5rem;
  margin-bottom: 5rem;
}

ul, ol {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.pages {
  &-list {
    li {
      border-bottom: 1px solid lightgray;

      a {
        font-family: 'Poppins', serif;
        font-size: 16px;

        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0 0.5rem 0;

        transition: padding-left .25s ease;

        &:hover {
          padding-left: 0.5rem;
        }
      }

      .date {
        font-size: 15px;
      }
    }
  }

  .show-all {
    display: block;
    margin-top: 30px;
  }
}

a {
  font-family: 'Poppins', serif;
  color: $color-links;
  text-decoration: none;
  transition: color .25s ease, opacity .25s ease;

  &:hover {
    color: $color-header;
    opacity: 0.7;
  }
}

.text {
  a {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
  font-weight: 700;
  color: #333;
}

h1 {
  font-family: 'Source Serif Pro';
}

h1 {
  body.home & {
    font-size: 5.0rem;
    margin-bottom: 8rem;
    font-weight: normal;

    // old school
    font-family: 'Source Serif Pro';
    font-weight: bold;
    padding: 0.7rem;

    //display: inline-block;
    color: white;
    background-color: $color-header;

    margin-top: 14px;
    margin-left: -5rem;
    padding-left: 5rem;

    span {
      &.upper {
        cursor: zoom-in;
      }
      &.lower {
        cursor: zoom-out;
      }
    }
  }
  font-size: 3rem;
}

::selection {
  color: white;
  background-color: #3772FF;
}

header {
  display: flex;
  justify-content: space-between;
  //flex-direction: row-reverse;
  font-size: 14px;
  margin-top: 4rem;

  font-family: 'Montserrat';
  //font-weight: bold;
  //text-transform: uppercase;

  div {
    display: flex;
  }

  span {
    margin: 0 3px;
  }
}

//@import "parts/_print";
