:root {
  --color-href: #0a31fd;
  --color-href-hover: #ef476f;
  /* --color-gray-20: #e0e0e0; */
  /* --color-gray-50: #c0c0c0; */
  /* hr */
  /* --color-lightgray: #686f7d; */
  --color-hr: #c0c0c0;
  --color-selection-bgr: #e8e8e8;
  --code-block-background-color: #e8e8e8;

  --color-text: #333;
  --background-color: #f5f5f5;

  /* font-mono in tailwind */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html.theme-dark {
  --color-text: #f5f5f5;
  --color-href: #1493fb;
  --color-selection-bgr: #3e4f61;
  --code-block-background-color: #3e4f61;
  --background-color: #15202b;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;

  color: var(--color-text);
  font-family: var(--font-mono);
  background-color: var(--background-color);

  transition: background-color .2s ease, color .2s ease;
}

body {
  display: flex;
  flex-direction: column;

  max-width: 640px;
  min-height: 100vh;
  padding: 3rem 2rem 0 2rem;
  font-size: 15px;
  line-height: 21px;

  ::selection {
    background-color: var(--color-selection-bgr);
  }

  /* border: 1px solid red; */
}

.container {
  flex-grow: 1;
}

main {
  padding: 3rem 0 5rem 0;
}

h1,
h2 {
  margin-bottom: 0;
  font-weight: 700;
  font-family: 'Arvo', var(--font-mono);
}

h1 {
  margin-top: 0;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.home h1 {
  font-size: 48px;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h2 {
  font-size: 30px;
  line-height: 1.5;
  margin-top: 2.5rem;
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-href);
  text-decoration: inherit;

  &:hover {
    color: var(--color-href-hover);
    text-decoration: underline;
    animation: glitch 6s infinite steps(50);
  }
}

/* select code that is not part of pre (this is shiki highlight) */
code:not(pre *) {
  word-break: break-all;
  font-family: inherit;
  font-size: inherit;
  padding: 3px 5px;
  background: var(--code-block-background-color);
  border-radius: 2px;
}

pre {
  padding: 1rem 1rem;
}

time {
  display: inline-block;
  font-size: 14px;
  min-width: 124px;
  word-spacing: -1px;
}
