{% set tagURL %}/tags/{{ tag | slugify }}/{% endset %}

<section class="pages">
  {%- set allPosts = collections[tag] | orderByName | reverse -%}
  {%- set postsList = allPosts | last(postsLimit) -%}

  {% if not hideTagsHeader %}
    <h2>
      {{ tag }} ({{ allPosts.length }})
    </h2>
  {% endif %}

  {% include 'posts-list.njk' %}
</section>
