{%- css %}
	.posts-list li {
		display: flex;
		/* align-items: center; */
		margin-top: 8px; /* 16 on mobile */
	}
{% endcss %}

{% include "tags-list.njk" %}

<ul class="posts-list">
{% for post in postslist | reverse %}
	<li class="posts-list-item{% if post.url == url %} posts-list-item-active{% endif %}">
		<time class="posts-list-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd MMM yyyy") }}</time>
		<a href="{{ post.url }}" class="posts-list-link">{% if post.data.title %}{{ post.data.title | stripCodeTag }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
	</li>
{% endfor %}
</ul>
