---
import TagsList from "../components/TagsList.astro";
import PostsList from "../components/PostsList.astro";
import MainLayout from "../layouts/main.layout.astro";
import { getAllPosts, getAllTags } from "../content/config";

const tags = await getAllTags();
const posts = await getAllPosts();
---

<MainLayout title="quirks-mode">
  <h1>quirks-mode</h1>

  <p style="margin-top: 42px;">
    Greetings, fellow <i>coding connoisseurs!</i><!-- aficionados -->
  </p>
  <p style="margin-top: 24px;">
    This is a manifest of all the battles with the quirks and whimsy peculiarities of web
    development. Sharing suggestions and intricate details of some <i>ingenous workarounds</i>.
    The joy of making it work.
    <!-- A nerdy wonderland, for you to feel at home. -->
  </p>

  <p class="punchline">
    Untangling web <i><b>peculiarities</b></i>. One noodle at a time.
  </p>

  <h2>latest</h2>
  <TagsList class="tags-list" tags={tags} limit={3} />
  <PostsList class="posts-list" posts={posts} limit={5} />

  <!-- <h2>submit</h2>
  <p>
    Stumbled upon something kinky while writing software? <a href="/submit/">[send it]</a>
  </p> -->
</MainLayout>

<style>
  .tags-list {
    font-size: 12px;
  }
  .posts-list {
    margin-top: 1.5rem;
  }
  .punchline {
    margin-top: 32px;
  }
</style>
