a.header-anchor {
  position: absolute;
  margin-left: -20px;
  float: left;
  line-height: 1;
  padding-right: 4px;
  visibility: hidden;
  width: 20px;
  text-decoration: none;
  color: inherit;
  text-align: right;
}

h1:hover a.header-anchor,
h2:hover a.header-anchor,
h3:hover a.header-anchor,
h4:hover a.header-anchor,
h5:hover a.header-anchor,
h6:hover a.header-anchor {
  visibility: visible;
}

:root {
  --full-width: 74vw;
}

.full-width {
  position: relative;
  width: clamp(100%, var(--full-width), var(--full-width));
  left: min(0px, calc(var(--full-width) * -1 / 2) + 50%);
  border: 1px solid red;
}
