---
import { Icon } from "astro-icon/components";
import { stripPath } from "../utils";

type Props = {
  location: "header" | "footer";
};

const pathname = new URL(Astro.request.url).pathname;
const isActive = (path: string) =>
  stripPath(pathname) === path ? "active" : "";
const { location } = Astro.props;
---

<nav class={`in-${location}`}>
  <ul>
    <li>
      <span class={isActive("")}>.</span><a href="/">home</a>
    </li>

    <li>
      <span class={isActive("about")}>.</span><a href="/about">about</a>
    </li>

    <li>
      <span class={isActive("quirks")}>.</span><a href="/quirks">quirks</a>
    </li>
  </ul>

  <div class="icons">
    <!-- <Icon name="github" class="github" title="github" /> -->
    <Icon name="sun" class="sun" title="turn lights on" />
    <Icon name="moon" class="moon" title="turn lights off" />
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;

    /* border: 1px solid red; */

    ul {
      display: flex;
      margin-left: -0.5rem;
      li {
        margin-right: 0.5rem;

        span {
          opacity: 0;
          pointer-events: none;

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
  .icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-href);

    transition: color .2s ease;

    .github {
      margin-right: 4px;
    }

    svg:hover {
      color: var(--color-href-hover);
    }
  }

  nav.in-header .icons {
    align-items: end;
  }

  html.theme-dark {
    .moon {
      display: none;
    }
  }
  html.theme-light {
    .sun {
      display: none;
    }
  }
</style>
