---
layout: 'layouts/root.njk'
---

{# all those would be included only on post page #}
{%- css -%}
  {%- include 'public/css/post.css' -%}
{%- endcss -%}

{# this is in the posts bucket, which is deferred #}
{%- css 'deferred' -%}
  {%- include 'public/css/deferred/post.css' -%}
  {%- include 'public/css/deferred/prism-diff.css' -%}
  {%- include 'node_modules/prismjs/themes/prism-okaidia.css' -%}
{%- endcss -%}

<section>
  <h1 id="post-title" class="glitch" data-text="{{ title | stripCodeTag }}">{{ title | safe }}</h1>

  <div class="post-metadata" style="display: flex; justify-content: space-between">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

    {% set tagsList = tags %}
    {% include "tags-list.njk" %}
  </div>

  <hr>


  {{ content | safe }}
</section>

