---
title: 'Quirks Mode'
layout: 'layouts/root.njk'
---

<section class="title">
  <h1 class="glitch" data-text="Quirks Mode">Quirks Mode</h1>
</section>

<section class="text">
  <p>
    Front-end development <i>peculiarities</i>. Life is tough.
  </p>
</section>

<section class="pages">
  <h2 style="font-size: 2rem; margin-bottom: 5px;">Latest kinks</h2>
  <div style="margin-bottom: 2rem; font-size: 15px;">
    check <a href="/tags/">all</a>
    or tagged as
    {% for tag in collections.tags %}
      <a href="/tags/{{ tag | slugify | url }}">{{ tag }}</a>
      {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
  </div>

  {%- set pages = collections.pages | reverse | last(config.pages.home.limit) -%}
  {%- set totalPages = collections.pages.length -%}
  {%- set limit = config.pages.home.limit -%}
  {% include 'pages-list.njk' %}
</section>
