/* https://codepen.io/lukemeyrick/pen/ayRgWO */
@keyframes glitch {
  2% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  4% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  6% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  12% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  14% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  16% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  18% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  20% {
    font-weight: 200;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  22% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  24% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  28% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  30% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  32% {
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  34% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  36% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  38% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  42% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  44% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  46% {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  48% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  50% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  52% {
    font-weight: 500;
    font-style: italic;
    text-decoration: line-through;
    text-transform: lowercase;
  }
  54% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  56% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  58% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  60% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  64% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  68% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  70% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  76% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  78% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  82% {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase;
  }
  84% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  86% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  92% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  94% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  96% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase;
  }
}
