---
import "@fontsource/arvo/400.css";
import "@fontsource/arvo/700.css";

import "../styles/main.css";
import { stripCodeTag } from "../utils";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
  description?: string;
}

const pathname = new URL(Astro.request.url).pathname;

const title = stripCodeTag(Astro.props.title);
const { description } =
  Astro.props || "I am writing about my experiences as a naval navel-gazer.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> -->
    <!-- <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> -->

    <link
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
      href="../styles/deferred/glitch.css"
    />
    <noscript>
      <link rel="stylesheet" href="../styles/deferred/glitch.css" />
    </noscript>

    <meta name="generator" content={Astro.generator} />
  </head>
  <body class={`${pathname === "/" ? "home" : "inner-page"}`}>
    <header>
      <Navigation />
    </header>

    <section class="container">
      <main>
        <slot />
      </main>
    </section>

    <Footer />
  </body>
</html>
